<h1>DBZ Personajes</h1>
<hr>

<div class="row">

  <div class="col">
              <!-- Parentesis son eventos, llaves cuadradas atributos -->
    <dbz-list [characterList]="dbzService.characters"
              (onDelete)="dbzService.deleteCharacterById($event)"></dbz-list>
              <!-- el onDelete es un evento y tiene que tener el mismo nombre
              que el output ej:
              @output
              public onDelete: EventEmitter<number> = new EventEmitter(); -->

  </div>

  <div class="col">
                      <!-- $event es un nombre específico que recibe el parametro -->
    <dbz-add-character (onNewCharacter)="dbzService.onNewCharacter($event)"></dbz-add-character>

  </div>
</div>
